* {
    box-sizing: border-box;
}

.page {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff4e6;
}

h1 {
    width: 100%;
    text-align: center;
}

h3 {
    text-align: center;
    text-transform: uppercase;
}

.page>div>div {
    display: block;
}

#plant {
    background: url("flora/corn-plant.jpg") no-repeat right top;
    display: block;
    width: 100%;
    height: 95%;
    overflow: hidden;
}

.wrapper {
    display: grid;
    justify-content: space-between;
    grid-row-gap: 1em;
    padding: 1em;
    grid-template-areas: "header" "nav" "content" "footer";
    width: 100%;
}

.wrapper-top {
    display: flex;
    flex-wrap: wrap;
}

.wrapper-top .seed-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #d9480f;
    width: 30%;
}

.wrapper-top .seed {
    grid-area: nav;
    border-radius: 50%;
    padding: 1em;
    margin: 0 auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.seed * {
    margin: 0 auto;
}

.wrapper-bottom {
    grid-row-gap: 1em;
    padding: 1em;
    --heightA: ;
    max-height: 66vw;
}